@page "/home"
<PageTitle>Home</PageTitle>


<div class="home-container">
    <header class="header">
        <h1>POSE For Diagnostics: What Ails Your Roll-Mobile? :)</h1>
        <p class="find-community">
            <span>Find Your Community</span>
        </p>
    </header>

    <section class="belief-section">
        <h2>WHAT WE BELIEVE</h2>
        <p>We believe in efficiency. Reliable input. Thorough output. We focus on the synergy of systems.</p>
        <p>Brakes , A/C, Mufflers and Exhaust, Cooling, Power Steering, Computers/Software, Pistons and connected hardware, Fuel Injection, Tires and wheels, Steering and Suspension, Transmission, Electronics</p>
        <p>The bigger picture?</p>
        <p>Know that you’re not getting scammed when it comes to one of the most important tools of the trade that is called life</p>
    </section>
</div>
